.masthead {
  position: relative;
  width: 100%;
  height: auto;
  // min-height: 35rem;

  background: url("../img/header_image.jpg");

  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-position: right 20% top;
  .hello {
    position: relative;
    padding-bottom: 40px;
    border-bottom: 2px solid black;
    // display: inline-block;
    width: 415px;
    @media (max-width: 768px) {
      padding-top: 130px;
      padding-left: 15px;
      padding-bottom: 0px;
      margin-left: 10px;
      width: 215px;
      border-bottom: 1px solid black;
    }
  }
  .description {
    line-height: 39px;
    width: 415px;
    margin-top: 40px;
    color: rgba(0, 0, 0, 0.69);
    @media (max-width: 768px) {
      display: none;
    }
  }
  h1 {
    color: #dedede;
    font-weight: 100;
    font-family: "Times new Roman";
    font-size: 61px;
    @media (max-width: 768px) {
      margin-left: -17px;
    }
  }
  h2 {
    font-size: 22px;
    top: 167px;
    left: 87px;
    font-weight: 400;
    font-family: "Roboto";
    position: absolute;
  }
  height: 280px;
  @media (min-width: 768px) {
    padding: 15rem 0;
    height: 720px;
    h1 {
      font-size: 156px;
      line-height: 87px;
      letter-spacing: 3px;
    }
    h2 {
      font-size: 46px;
      top: 54px;
      left: 210px;
    }
  }
  @media (min-width: 1292px) {
    height: 720px;
    background-position: center top;
    h1 {
      font-size: 156px;
      line-height: 87px;
      letter-spacing: 3px;
    }
  }
}
